/* Globals ================================================================= */
:root {
    --main-color: #7322b3;
    --radius: 4px;
}

html {
    color: #222;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 2%;
}

h2, h3 {
    font-weight: normal;
    margin: 0;
}

input {
    border: none;
    padding: .3em;
    background-color: #f4f4f4;
    border-radius: var(--radius);
}

button {
    border-radius: var(--radius);
}

button:focus, input:focus {
    outline: none;
}

/* Stlyes ================================================================== */
bar-commit {
    display: block;
    border: 2px solid black;
    border-radius: var(--radius);
    padding: .5em;
    margin: .5em;
}

head-header {
    display: block;
}

span.commit-right {
    float: right;
    color: #555;
}

input.split {
    width: 2em;
    text-align: right;
    margin-right: 1em;
}

bar-line input {
    margin: .2em 0;
    margin-right: .5em;
    width: calc(100% - 2.5em);
}

spacer {
    display: block;
    height: .75em;
}

/* Media Queries =========================================================== */
@media only screen and (min-width: 35em) {}

/* Helper classes ========================================================== */
   
.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}
