main {
    display: flex;
    overflow: auto;
    padding: .5em 0;
}

bar-commit {
    display: block;
    border: 2px solid black;
    border-radius: var(--radius);
    padding: .5em;
    margin: .5em;
    min-width: 24em;
    max-width: 30em;
}

head-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

head-header span:not(:first-child) {
    color: #777;
}

input.split {
    width: 3.5em;
    text-align: right;
}

input.split-commit {
    width: 2.5em;
    text-align: center;
}

bar-line {
    display: block;
}

bar-line.commit {
    display: inline-block;
    margin: .2em 0;
    padding: .2em;
}

bar-line input {
    margin: .2em 0;
    margin-right: .5em;
    width: calc(100% - 2.5em);
}

space-out {
    display: block;
    height: .75em;
}

/* Media Queries =========================================================== */
@media only screen and (min-width: 35em) {}