/* Globals ================================================================= */
:root {
    --main-color: #7322b3;
    --radius: 4px;
}

html {
    color: #222;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 2%;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid black;
    margin: .5em 0;
    padding: 0;
}

h2, h3 {
    font-weight: normal;
    margin: 0;
}

input {
    border: none;
    padding: .3em;
    background-color: #f4f4f4;
    border-radius: var(--radius);
}

button {
    border-radius: var(--radius);
}

button:focus, input:focus {
    outline: none;
}
